---
import Layout from "@/layouts/Layout.astro";
import { t } from "@/locales";
import { url } from "@/utils/url";
---

<Layout title="404">
  <div class="hero not-found">
    <div class="ts-header is-massive is-heavy">404</div>
    <p class="ts-text is-secondary">{t["notFound.message"]}</p>
    <a class="ts-button has-top-spaced" href={url("/")}>{t["notFound.home"]}</a>
  </div>
</Layout>
