---
import SITE from "@/config";

const year = new Date().getFullYear();
---

<footer class="ts-container site-footer">
  <div class="ts-divider"></div>
  <div class="ts-text is-description has-top-spaced">
    © {year}
    {SITE.title}
  </div>
</footer>
